extends layout

block append vars
  - bodyclass = "article-detail"

block prepend title
  | #{ page.title + " | "}

block page_title
  header.page-title
    include author
    h1= page.title
    p.author
      | #{ "Written by " }
      mixin author(page.metadata.author)
      | #{ " on " }
      time= moment.utc(page.date).format('D MMMM YYYY')

block content
  article.article
    section.content!= typogr(page.html).typogrify()
