block vars
  - var bodyclass = "home"

extends layout

block content
  include author
  each article in articles
    article.article.intro
      p.date
        time= moment.utc(article.date).format('D MMMM YYYY')
      h2.article__heading
        a(href=article.url)= article.title
      section.content
        if article.intro.length > 0
          | !{ typogr(article.intro).typogrify() }
        if article.hasMore
          p.more
            a(href=article.url) more

block prepend footer
  div.nav.c
    if prevPage
      a(href=prevPage.url) « Newer entries
    else
      a(href='/archive/') « Archive
    if nextPage
      a(href=nextPage.url) Older entries »
