doctype html
block vars
  - var bodyclass = null
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href=locals.url + '/css/main.css')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url + '/feed.xml', type='application/rss+xml', title=locals.description)
  body(class=bodyclass)
    div.wrap
      header.header.c
        div.content-wrap
          block header
          block related_header
            header.related.related-header.c
              if bodyclass != "home"
                a(href=contents.index.url).related-link.related-centre-link <span class="finger finger-left">☚</span> Return to blog
          block page_title
            header.page-title
              h1
                a(href=locals.url)= locals.name
              p.description= locals.description
      main#content.content
        div.content-wrap
          block content
            h2 Greetings, earthlings!
      footer.footer
        div.content-wrap
          block footer
          block related_footer
            div.related.related-footer.c
              if bodyclass != "archive"
                a(href='/archive/').related-link.related-centre-link
                  span.link-inner
                    span.finger.finger-right ☛ Archive span.finger.finger-left ☚
              else
                if prevPage
                  a(href=prevPage.url).related-link.related-left-link
                    span.link-inner
                      span.finger.finger-left ☚ Older entries
                if nextPage
                  a(href=nextPage.url).related-link.related-right-link
                    span.link-inner
                      Newer entries span.finger.finger-right ☛
                if prevPage && nextPage && bodyclass != "home"
                  if bodyclass = "archive"
                    a(href=contents.index.url).related-link.related-left-link
                      span.finger.finger-right ☛ Return to blog span.finger.finger-left ☚
    script(src=locals.url + '/js/main.js')
